process.executor="slurm"
process.cache = 'lenient'
process {
  withLabel: 'process_low' {
    cpus = 2
    memory = '2 GB'
    time = '30m'
  }

  withLabel: 'process_medium' {
    cpus = 32
    memory = '64 GB'
    time = '2h'
  }

  withLabel: 'process_high' {
    cpus = 16
    memory = '32 GB'
    time = '6h'
  }
}

profiles {
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
}
docker.registry      = 'docker.io'